html, body {
            margin: 0;			/* Remove body margin/padding */
            padding: 0;
            /*background-color: #000000;*/
            font-family: helvetica, arial, sans-serif;
            font-size: 90%;
            line-height: 1.25;
        }

.header {
    width:99%; height: 60px; padding: 4px;
    border-bottom: 1px solid #36648B;
    background-color: #eeeeee;
}

.logo-text {
    float: left;
    width: 50%;
    color: #0033FF;
    margin: 10px;
    font-size: 24pt; font-weight: bold;
}

.version {
    font-size: 10pt; font-weight: normal;
    color: #666666;
}

ul {
    float: right;
    margin: 0; padding: 0;
}

ul li {
    float:left;
    color: #333333; margin-left: 40px;
}

a {
    text-decoration: none;
}

.center-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.rounded-corners {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
}

.top-rounded-corners {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.green-big-label {
    font-size: 28px; color: #33CC00; font-weight: bold;
    display: inline-block; margin: 26px;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #000;
}

.red-big-label {
    font-size: 28px; color: #FF0000; font-weight: bold;
    display: inline-block; margin: 12px;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #000;
}
.orange-big-label {
    font-size: 28px; color: #f58400; font-weight: bold;
    display: inline-block; margin: 12px;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #000;
}
.yellow-big-label {
    font-size: 28px; color: #FFFF00; font-weight: bold;
    display: inline-block; margin: 12px;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #000;
}
.blue-big-label {
    font-size: 28px; color: #0033FF; font-weight: bold;
    display: inline-block; margin: 12px;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #000;
}

.black-big-label {
    margin: 6px; display: inline-block;
    font-size: 18px;
}

.img-placeholder {
    width: 633px; height: 150px; background-color: #EEEEEE;
    margin: 10px;
}