.WClear {
  *zoom: 1;
}

.WClear:before, .WClear:after {
  display: table;
  content: "";
}

.WClear:after {
  clear: both;
}

.WLeft {
  float: left;
}

/* line 13, ../sass/_Fonts.sass */
p {
  line-height: 1.5;
  text-indent: 1em;
}

/* line 17, ../sass/_Fonts.sass */
em {
  font-style: italic;
}

/* line 20, ../sass/_Fonts.sass */
strong {
  font-weight: bold;
}

/* line 25, ../sass/_Fonts.sass */
h1 {
  font-size: 3em;
  font-weight: bold;
}

/* line 25, ../sass/_Fonts.sass */
h2 {
  font-size: 2.75em;
}

/* line 25, ../sass/_Fonts.sass */
h3 {
  font-size: 2.5em;
}

/* line 25, ../sass/_Fonts.sass */
h4 {
  font-size: 2.25em;
}

/* line 25, ../sass/_Fonts.sass */
h5 {
  font-size: 2em;
}

/* line 25, ../sass/_Fonts.sass */
h6 {
  font-size: 1.75em;
  text-decoration: underline;
}

/* line 8, ../sass/WebElements.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/WebElements.sass */
img {
  vertical-align: middle;
}

/* line 14, ../sass/WebElements.sass */
a {
  font-weight: bold;
  text-decoration: none;
  color: #2574b0;
}
/* line 18, ../sass/WebElements.sass */
a:hover {
  text-decoration: underline;
}
/* line 20, ../sass/WebElements.sass */
a:visited {
  color: #6847b4;
}

/* line 23, ../sass/WebElements.sass */
label {
  cursor: inherit;
}

/* line 26, ../sass/WebElements.sass */
ul {
  list-style: disc;
}

/* line 28, ../sass/WebElements.sass */
ol {
  list-style: decimal;
}

/* line 37, ../sass/WebElements.sass */
td {
  color: black;
}

/* line 40, ../sass/WebElements.sass */
table.table-background td {
  border: 1px solid #eef0f4;
}

/* line 43, ../sass/WebElements.sass */
th {
  background-color: #c4d0e4;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* line 51, ../sass/WebElements.sass */
.yellow {
  background-color: #df8c42;
}

/* line 54, ../sass/WebElements.sass */
.rowlight {
  background-color: #f0f0f0;
  border: 1px solid black;
}

/* line 58, ../sass/WebElements.sass */
.rowdark {
  background-color: #dadada;
  border: 1px solid black;
}

/* line 63, ../sass/WebElements.sass */
table.GlobalTable {
  border-spacing: 0;
}
/* line 65, ../sass/WebElements.sass */
table.GlobalTable tr {
  border: none;
  height: 25px;
  color: black;
  background: #f2faff;
}
table.GlobalTable tr a {
  text-decoration: underline;
  color: #0963bd;
}
table.GlobalTable tr a:hover {
  color: #0051a3;
}
table.GlobalTable tr.taskColorHigh {
  background: #ff7777;
}
table.GlobalTable tr.taskColorHigh td {
  border-bottom: 1px solid #eeeeee;
}
table.GlobalTable tr.taskColorMedium {
  background: #ffff99;
}
table.GlobalTable tr.taskColorLow {
  background: #99ff99;
}
table.GlobalTable tr.warning {
  background: #ffdd77;
}
table.GlobalTable tr.error {
  background: #fc797b;
}
table.GlobalTable tr:hover {
  background: #fafacd;
}
table.GlobalTable tr:hover.selected {
  background: #315672;
}
table.GlobalTable tr:nth-child(even) {
  background: white;
}
table.GlobalTable tr:nth-child(even).taskColorHigh {
  background: #ff7777;
}
table.GlobalTable tr:nth-child(even).taskColorMedium {
  background: #ffff99;
}
table.GlobalTable tr:nth-child(even).taskColorLow {
  background: #99ff99;
}
table.GlobalTable tr:nth-child(even).warning {
  background: #ffdd77;
}
table.GlobalTable tr:nth-child(even).error {
  background: #fc797b;
}
table.GlobalTable tr:nth-child(even).selected {
  background: #548bb5;
  color: white;
}
table.GlobalTable tr:nth-child(even).selected a {
  color: white;
}
table.GlobalTable tr:nth-child(odd) {
  background: #dedede;
}
table.GlobalTable tr:nth-child(odd).taskColorHigh {
  background: #ff7777;
}
table.GlobalTable tr:nth-child(odd).taskColorMedium {
  background: #ffff99;
}
table.GlobalTable tr:nth-child(odd).taskColorLow {
  background: #99ff99;
}
table.GlobalTable tr:nth-child(odd).warning {
  background: #ffdd77;
}
table.GlobalTable tr:nth-child(odd).error {
  background: #fc797b;
}
table.GlobalTable tr:nth-child(odd).selected {
  background: #548bb5;
  color: white;
}
table.GlobalTable tr:nth-child(odd).selected a {
  color: white;
}
table.GlobalTable tr:nth-child(even):hover {
  background: #fafacd;
}
table.GlobalTable tr:nth-child(even):hover.selected {
  background: #315672;
}
table.GlobalTable tr:nth-child(odd):hover {
  background: #fafacd;
}
table.GlobalTable tr:nth-child(odd):hover.selected {
  background: #315672;
}
table.GlobalTable th {
  text-align: left;
  border-right: 1px solid #5ea3ec;
  border-bottom: none;
  border-left: none;
  border-top: none;
  padding-left: 4px;
  height: 30px;
  background: #499bea;
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: linear-gradient(top, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
  color: white;
  white-space: nowrap;
}
table.GlobalTable th a {
  text-decoration: underline;
  color: white;
}
table.GlobalTable th a:hover {
  color: #cccccc;
}
table.GlobalTable th a:active {
  color: #999999;
}
table.GlobalTable td {
  border-right: 1px solid #eeeeee;
  border-left: none;
  border-bottom: none;
  border-top: none;
  padding-left: 3px;
}
table.GlobalTable td.TableViewSeparator {
  background: gray;
  color: white;
}
table.GlobalTable .selected td {
  background: #548bb5;
  color: white;
}
table.GlobalTable .selected td a {
  color: white;
}
table.GlobalTable .rowdark {
  background: #dedede \9;
}
table.GlobalTable .rowdark.selected {
  background: #548bb5;
  color: white;
}
table.GlobalTable .rowdark.selected a {
  color: white;
}
table.GlobalTable .rowlight {
  background: white \9;
}
table.GlobalTable .rowlight.selected {
  background: #548bb5;
  color: white;
}
table.GlobalTable .rowlight.selected a {
  color: white;
}