<!DOCTYPE html>
<html>
<head>
    <title>Logtoeye Setting Page...</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/config.css" />
</head>
<body>
    <div id="header" class="header">
        <p class="logo-text">
            Logtoeye Dashbaord
            <span class="version">V0.1 for Nginx</span>
        </p>
        <ul id="top-menu">
            <li ><a href="/dashboard">Home</a></li>
            <li ><a href="/report">Report</a></li>
            <li ><a href="/config">Config</a></li>
        </ul>
    </div>
    <p style="margin: 20px">TODO, logtoeye Config...</p>
</body>
</html>