<!DOCTYPE html>
<html>
    <head>
        <title>Logtoeye Dashbaord</title>

        <link rel="stylesheet" type="text/css" media="screen" href="/static/themes/ui-darkness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/themes/ui.jqgrid.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/dashboard.css" />

        <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="/static/js/i18n/grid.locale-en.js"></script>
        <script type="text/javascript" src="/static/js/jquery.jqGrid.min.js"></script>
        <script type="text/javascript" src="/static/js/radarchart.js"></script>
        <script type="text/javascript" src="/static/js/jquery.flot.js"></script>
        <script type="text/javascript" src="/static/js/jquery.flot.time.js"></script>
        <script type="text/javascript" src="/static/js/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="/static/js/jquery.container.js"></script>
        <script type="text/javascript" src="/static/js/dashboard.js"></script>
    </head>
    <body>
        <div id="header" class="header">
            <p class="logo-text">
                Logtoeye Dashbaord
                <span class="version">V0.1 for Nginx</span>
            </p>
        </div>
        <!-- create content dynamical by js -->
        <div id="footer" class="footer">
            <p class="copyright">runbytech.com all copyright reserved</p>
        </div>

    </body>
</html>