<!DOCTYPE html>
<html>
<head>
    <title>Message Push Example...</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.min.js"></script>
    <script>

        WEB_SOCKET_SWF_LOCATION = "/static/flashsocket/WebSocketMain.swf";
        WEB_SOCKET_DEBUG = true;

        // socket.io specific code, connect to a namespace(endpoint)
        var socket;

        window.onload = function(){
            console.log("on window load...");
            //socket = io.connect("/simplepush");//connect to SimpleNamespace
            socket = io.connect("");//connect to RootNamespace
            socket.on('connect', function () {
                message('System', 'Connected to the server');
                console.log("Connected to the server...");
            });

            socket.on('announcement', function (msg) {
                $('#lines').append($('<p>').append($('<em>').text(msg)));
            });
        }

        $(window).bind("beforeunload", function() {
            socket.disconnect();
        });


        function message (from, msg) {
            $('#lines').append($('<p>').append($('<b>').text(from+': '), msg));
        }
    </script>
</head>
<body>
    <div id="lines"></div>
</body>
</html>